.desc {
  font-family: Roboto;
  font-size: 18px;
  color: #fff;
  margin-bottom: 4px;
}

.example {
  font-family: Roboto;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.share {
  font-family: Roboto;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}
