.container {
    width: 100%;
    font-family: Roboto;
}

.content {
    background-color: #0f0f0f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentForm {
    max-width:  1024px;
    width: 100%;
    padding: 0 18px;
    padding-bottom: 28px;
    margin-top: 58px;
}

.title {
    color: #fff;
    margin-top: 8px;
    margin-bottom: 28px;
    font-family: Roboto, 'Courier New', Courier, monospace;
    font-size: 25px;
}

.checkboxArea label {
    margin-left: 8px;
    color: #fff;
    font-family: monospace;
}

.checkbox { 
    width: 20px;
    height: 20px;
    margin: 14px 0;
    border-radius: 8px;
    border: 2.5px solid #fff;
    cursor: pointer;
    transition: all 1.5s;

}

.button {
    background-color: transparent;
    padding: 8px 32px;
    border-radius: 4px;
    color: #2e8b57;
    border: 1.5px solid;
    cursor: pointer;
    transition: all 0.8s;
    width: 100%;
  }
  
  .button:hover {
    background-color: #2e8b57;
    color: #0f0f0f;
    font-weight: 600;
    border: 0;
  }

  .articleContainer {
    margin: 34px auto 0 auto;
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
  }

  .articleContainer a {
    text-decoration: none;
    color: #0f0f0f;
  }

  .articleContainer h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
  }

  .article {
    margin-bottom: 14px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1.5px solid#909090;
    border-radius: 4px;
    padding: 14px;
  }

  .tagContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .tag {
    background-color: #3183ff;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }

  .shareButton {
    background: transparent;
    border: 0;
    margin: 0 8px;
    cursor: pointer;
  }

  .articleContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    white-space: pre-wrap;
  }

  .articleContent p {
    
  }

  .trashButton {
    background: transparent;
    border: 0;
    margin: 0 8px;
    cursor: pointer;
  }